{% include "header" %}
<!-- begin project grid -->

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		{% block content %}{% endblock %}
	    {% collection "portfolio" %}
		<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 inline-list-custom">
			<!-- Begin project -->
		    {% for post in collection.items %}
			<li>
				<div class="thumbnail">
					<div class="thumbnail-img">
						<a href="{{ post.slug }}"><img src="{{post.thumbnail}}" alt="{{ post.title }}" /></a>
					</div>
					<div class="thumbnail-caption"><a class="caption-link" href="{{ item.url }}">{{ post.title }}</a></div>
				</div>

			</li>
			<!-- End project -->
		{% endfor %}
		</ul>
		{% endcollection %}
	</div>
</div>
<!-- end project grid -->













	{% include "scripts" %}
</body>
</html>